mixin bulletList(options)
  <div class="bullet-list #{attributes.class}">
    <h3>#{options.label}</h3>
    <ul>
      each item in options.items 
        <li class="bullet-list__item">#{item}</li>
    </ul>
  </div>