.button {
  position: relative;
  background: $grad1;
  padding: 10px 20px;
  color: #fff;
  font-family: $font-text;
  font-size: 11px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 22px;
  overflow: hidden;
  transition: opacity 0.4s;
  letter-spacing: 0.7px;
  border: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
  &:hover,
  &:active {
    opacity: 0.5;
  }
}

.button_striped {
  color: $accent1;
}
.button_striped::after {
  content: "";
  display: block;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 2px;
  border-radius: 22px;
  z-index: -1;
}
