extends ../layout.pug
//- include ../blocks/section/section

block prepend head
  -var title = "Index"

block body
  <div class="wrapper">    
    <a href="/ui-kit.html">Открыть UI-kit</a>
    <a href="/home.html">Открыть Toxin</a>
    
    <a href="https://github.com">Открыть репозиторий</a>
  </div>  