@import "../../node_modules/item-quantity-dropdown/lib/item-quantity-dropdown.min.css";

.quantity-dropdown__label {
  margin-bottom: 6px;
}

.iqdropdown {
  height: 46px;
  padding: 0;
  border: 1px solid $m25;
  border-radius: 4px;
}

.iqdropdown.menu-open {
  border-color: $m50;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.iqdropdown .iqdropdown-selection {
  font-family: $font-text;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 13px 40px 13px 15px;
  color: $m75;
  white-space: nowrap;
  position: relative;
  &::after {
    display: none;
  }
}

.iqdropdown .dropdown-menu-expand {
  position: absolute;
  font-size: 14px;
  right: 15px;
  top: 50%;
  margin-top: -5px;
  transition: transform 0.2s;
  color: $m75;
}

.iqdropdown.menu-open .dropdown-menu-expand {
  transform: rotate(-180deg);
}

.iqdropdown .iqdropdown-menu {
  top: 46px;
  padding: 12px 0;
  border: 1px solid $m50;
  box-shadow: 0px 10px 20px -2px $lite;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.iqdropdown-item {
  color: $main;
  font-family: $font-text;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}

.iqdropdown .iqdropdown-menu-option {
  height: auto;
  margin-bottom: 10px;
}

.iqdropdown .iqdropdown-menu-option:last-child {
  margin-bottom: 0px;
}

.iqdropdown .iqdropdown-item-controls button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid $m25;
}

.iqdropdown .iqdropdown-item-controls {
  align-items: center;
  height: auto;
}

.iqdropdown-item-controls .button-decrement,
.iqdropdown-item-controls .button-increment {
  border-radius: 25px;
}

.iqdropdown-item-controls .button-decrement:disabled,
.iqdropdown-item-controls .button-increment:disabled {
  opacity: 0.38;
  cursor: default;
}

.iqdropdown-item-controls .button-decrement:disabled:hover,
.iqdropdown-item-controls .button-increment:disabled:hover {
  background: transparent;
}

.iqdropdown .icon-decrement {
  height: 11px;
  min-width: 0;
  width: 6px;
}

.iqdropdown .icon-decrement.icon-increment {
  height: 10px;
  min-width: 0;
  width: 10px;
}

.iqdropdown .icon-decrement::after {
  width: 6px;
  height: 1px;
  background: $m25;
}

.iqdropdown .icon-increment::after {
  width: 10px;
  height: 1px;
  background: $m25;
}

.iqdropdown .icon-decrement.icon-increment::before {
  width: 10px;
  height: 1px;
  background: $m25;
}

.iqdropdown .iqdropdown-item-controls .counter {
  width: 50px;
  color: $main;
  font-family: $font-text;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
  padding: 0;
  border: none;
  text-align: center;
}

.iqdropdown-control-buttons {
  display: flex;
  justify-content: space-between;
}

.iqdropdown-btn-apply,
.iqdropdown-btn-reset {
  font-family: $font-text;
  font-weight: 700;
  color: $accent1;
  text-transform: uppercase;
}

.iqdropdown-menu .iqdropdown-menu-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  margin-top: 15px;
}

.iqdropdown-menu-buttons .iqdropdown-btn-apply,
.iqdropdown-menu-buttons .iqdropdown-btn-reset {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  color: $m50;
}

.iqdropdown-menu-buttons .iqdropdown-btn-apply:hover,
.iqdropdown-menu-buttons .iqdropdown-btn-apply:active,
.iqdropdown-menu-buttons .iqdropdown-btn-reset:hover,
.iqdropdown-menu-buttons .iqdropdown-btn-reset:active {
  color: $accent1;
}

.iqdropdown-menu-buttons .iqdropdown-btn-apply {
  margin-left: auto;
}
.iqdropdown-menu-buttons .iqdropdown-btn-reset:disabled {
  display: none;
}
